<%- include("partials/header"); -%>

<form class="" action="/add" method="post">
<div class="main-input">
  <h1 class="add-title">Add a new item</h1>

    <div class="row">
      <div class="col">
        <input type="date" class="form-control" placeholder="Date (Year/Month/Day)" name="newDate">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Store Name" name="newStore">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Store Address" name="newAddress">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Item Name" name="newItem">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Quantity" name="newQuantity">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Price" name="newPrice">
      </div>
    </div>

</div>
<button class="btn returnButton btn-primary" type="button" onclick="window.location.href = '/';">Return Home</button>
<!-- <button class="btn add-button btn-primary" onclick="window.location.href = '/add';">Add Item</button> -->
<button class="btn add-button btn-primary" type="submit" name="button">Add Item</button>
</form>

<%- include("partials/footer"); -%>
