<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Receipt Tracker</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>

<body>

<script>
  function isInputEmpty(){
    if(document.getElementsByName("username")[0].value !="" && document.getElementsByName("password")[0].value != ""){
      document.getElementsByName("login-form")[0].submit();
    } else{
      document.getElementsByName("username")[0].value="";
      document.getElementsByName("password")[0].value="";
    }
  }
</script>


<div class="login-form">
  <h1 class="login-text">Login</h1>
  <form action="/login" method="POST" class="form-input" name="login-form">
    <div class="">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="username" placeholder="Username" style="margin-bottom: 5%;">
    </div>
    <div class="">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="button" class="btn btn-dark form-button" style="margin-top: 8%;" onclick="isInputEmpty()">Login</button>
    <button type="button" class="btn btn-dark form-button" style="margin-bottom: 6%;" onclick="window.location.href = '/register';">Register</button>
  </form>
</div>

<%- include("partials/footer") %>
